.App {
  height: 100vh;
}

.githubIcon {
  position: absolute;
  right: 0;
  top: 0;
  color: #000;
}

.loading {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}